body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.schedule-container {
  margin: auto;
}

.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group > label {
  margin-right: 0.5rem;
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  margin: auto;
}

table thead {
  background-color: lightgrey;
}

table thead th {
  border: 1px solid grey;
  padding: 1rem;
}

table tbody {
  border: 1px solid orange;
}

table tbody tr {
  border: 1px solid grey;
}

table tbody tr td {
  /* background-color: azure; */
  border: 1px solid grey;
  padding: 0.5rem;
  font-weight: bold;
}

td.shift-block {
  color: white;
}

.shift-role-color-red {
  background-color: red;
}
.shift-role-color-purple {
  background-color: purple;
}
.shift-role-color-orange {
  background-color: orange;
}
.shift-role-color-green {
  background-color: green;
}
