body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border: 1px solid blue;
}

table thead {
  background-color: lightgrey;
}

table thead th {
  padding: 1rem;
}

table tbody {
  border: 1px solid orange;
}

table tbody tr td {
  background-color: azure;
  border: 1px solid blue;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.shift-role-color-red {
  background-color: red;
}
.shift-role-color-purple {
  background-color: purple;
}
.shift-role-color-orange {
  background-color: orange;
}
.shift-role-color-green {
  background-color: green;
}
